body {
    	font-size: 56 px;
    	color: black;
	text-indent: 10px;
	margin-left: 30px;
	background-image: url("a3.jpg");
	width: 1330px;
	border: 4px double black;
    
}

h1 {
	text-indent: 0px;
	margin-left: 0px;
    	color: dimgrey;
    	font-family: "cursive";
}

h2 {
    	margin-left: 10px;
}


p { 
   	text-indent: 10px;
	margin-left: 30px;
}
